body {
    .wrapper;
}

.title {
    text-align: center;
    font-size: 200%;
}

.wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: Comic Sans MS; //a cute font
}

//using a loop to set the item placements
.itemPlacement(@numOfChild, @i: 2, @moveLeft: 100vw, @adjust: 1px) when (@i < @numOfChild) {
  &:nth-child(@{i}) {
    transform: translateX(-(@moveLeft / @numOfChild) - @adjust);
  }
  .itemPlacement(@numOfChild, (@i + 1), @moveLeft + 100vw, @adjust + 1px);
}

.menu {
    //using display flex for auto spacing between items and then put them behind menuButton
    //when it's clicked, put them back to where flex put them
    display: flex;
    justify-content: space-between;

    >.menuButton { //default position, no rotate
        padding-left: 1em;
        padding-right: 1em;
        background-color: red;
        transform: rotateZ(0deg);
        transition: 1.5s;
    }


    >.item { //default settings to all items
        transition: 1.5s;
        z-index: -1; //places all items behind the menu button
        .itemPlacement(7); //this calls the loop to move all the items to where the menuButton is
    }

    &.selected{ //this runs when the selected class is toggled
        > div{ //default settings to all div
            transition: 1.5s;
        }
        >.menuButton {
            transform: rotateZ(-45deg); //rotate this by 45 degree when clicked
        }
        >.item {
            transform: translateX(0%); //place all items back to where display flex put them
        }
    }
}
