<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet/less" type="text/css" media="screen" href="style.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.7.1/less.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Hunt of Airsoft</title>

    <script src="JS_airsoft.js" defer></script>
</head>

<body>
    <main>
        {% include 'top_links.twig.html' %}

        <div id="wrapper">
            <div class="loadout">
                <div>RIFLES</div>
                <div>SMG</div>
                <div>HEAVY</div>
                <div>PISTOLS</div>
                <div>EQUIPMENTS</div>
            </div>
            <div class="note">All airsoft guns below are what you can rent for each event. Not all airsoft guns will be available in
            the store.<br><b>NOTE: NO CUSTOM AIRSOFT ALLOWED, VIOLATORS WILL BE PROSECUTED</b>
            </div>
            <div class="weapons">
            </div>

        </div>

        {% include 'footer.twig.html' %}
    </main>
</body>
</html>
