<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet/less" type="text/css" media="screen" href="style.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.7.1/less.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Hunt of Airsoft</title>

    <script src="JS_contact.js" defer></script>
</head>

<body>
    <main>
        {% include 'top_links.twig.html' %}

        <div id="wrapper">
            <div class="contact">
                <label>User Name</label>
                <input type="text" id="username" placeholder="Your name..">

                <label>E-Mail</label>
                <input type="text" id="email" placeholder="Contacting email..">

                <label>Location</label>
                <input type="text" id="location" placeholder="Location of the Airsoft..">

                <label>Phone Number</label>
                <input type="number" id="phone" placeholder="Contacting number..">

                <label>Message</label>
                <input type="text" id="message" placeholder="Message/Questions you would like to ask">

            </div>

            <input type="button" value="Submit" id="sendButton">
        </div>
        {% include 'footer.twig.html' %}
    </main>
</body>
</html>
