<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet/less" type="text/css" media="screen" href="style.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.7.1/less.min.js"></script>
    <title>Hunt of Airsoft</title>
</head>

<body>
    <main>
        {% include 'top_links.twig.html' %}

        <div id="wrapper">
            <div class="paragraph">
                <div class="title">OPERATION MORRIS DANCE (New)</div>
                <p>&ensp;&nbsp;Each of the two teams have a flag in their base which are located on opposite sides of the game zone.
                    The aim of the game is to capture the enemy’s flag from their base and deliver it back to your base
                    before they capture your flag. Capture the flag can be played in almost every Delta Force game zone.</p>
                    <div class="location_info">
                        160-6631 Westminster Hwy, Richmond, BC V7C 4V4<br>
                        <a href="tel:604-278-8897">Click Here</a> To Book an event (604) 278-8897
                    </div>


                <div class="title">NUCLEAR TESTING (Ongoing)</div>
                <p>&nbsp;&nbsp;A neutral bomb or similar object is placed in the centre of the game zone,
                    usually in a building. The objective is to take the bomb or object from the centre
                    of the game zone and into the enemy’s base. Bomb the Base is usually played in The Zombies’
                    Crypt or Tomb Raider game zones.</p>
                    <div class="location_info">
                        100 Lower Capilano Rd, North Vancouver, BC V7P 1A8<br>
                        <a href="tel:778-896-6772">Click Here</a> To Book an event (778) 896-6772
                    </div>


                <div class="title">Operation Dynamo (Ongoing)</div>
                <p>&nbsp;&nbsp;One team occupy a castle/fort and their mission is to defend it. The other team has to
                    attack the enemy’s position and raise the flag before the game finishes.
                    The attacking team are usually allowed to re-spawn (walk back to the starting point then
                    having another go) for the first few minutes or for the duration of the game.
                    Attack and defend is usually played in our Castle Wallenberg game zone.</p>
                    <div class="location_info">
                        427 E Columbia St, New Westminster, BC V3L 3X4<br>
                        <a href="tel:604-524-9744">Click Here</a> To Book an event (604) 524-9744
                    </div>


                <div class="title">Operation Magic Carpet(Ended)</div>
                <p>&nbsp;&nbsp;Upwards of four neutral targets, usually buildings or vehicles, populate the game zone.
                    The objective for both teams is to seize control of the targets as points are
                    scored for each target secured and held at the end of the game. Hostile Takeover is
                    usually played in the Siege of Stalingrad and Viet Cong Village game zones.</p>
                    <div class="location_info">
                        160-6631 Westminster Hwy, Richmond, BC V7C 4V4<br>
                        <a href="tel:604-278-8897">Click Here</a> To Book an event (604) 278-8897
                    </div>


                <div class="title">Operation Desert Storm(Ended)</div>
                <p>&nbsp;&nbsp;One member from the defending team is nominated to be the president who has to
                    be protected and possibly escorted to safety by the rest of the team.
                    The objective of the attacking team is to take down the president before the game is over.
                    Protect the President is usually played in the Border Crossing and London Apocalypse game zones.</p>
                    <div class="location_info">
                        160-6631 Westminster Hwy, Richmond, BC V7C 4V4<br>
                        <a href="tel:604-278-8897">Click Here</a> To Book an event (604) 278-8897
                    </div>


            </div>
        </div>

        {% include 'footer.twig.html' %}
    </main>
</body>
</html>
