<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet/less" type="text/css" media="screen" href="style.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.7.1/less.min.js"></script>
    <title>Hunt of Airsoft</title>
</head>

<body>
    <main>
        {% include 'top_links.twig.html' %}

        <div id="wrapper">
            <div class="paragraph">
                <div class="question">Who is Tom Cruise?</div>
                <div class="answer">
                    Ethan Matthew Hunt portrayed by Tom Cruise in the Mission: Impossible 2 (2000).
                    Ethan Hunt is an IMF (Impossible Mission Force) Agent since 1988 and has worked as the point
                    man under his mentor, Jim Phelps. The business “Hunt of Airsoft” was initially started by
                    Nyah Nordoff-Hall, Ethan's love interest, during their vacation in Sydney after the end of the movie.
                    Nyah thought this would be a good side job that can put Ethan’s exceptional point man skill
                    from IMF to good use. Additionally, Ethan was becoming a semi-retired training officer for IMF,
                    this business was to help and treat any possible PTSD that might’ve dealt. Furthermore, Nyah wished
                    this would be Ethan’s first step away from danger and walk him out of the death of his comrades.
                </div>
                <div class="question">Where can I meet Tom Cruise?</div>
                <div class="answer">
                    Tom Cruise is currently the owner/manager of "Hunt of Airsoft". As there are currently only 3
                    locations North Vancouver, New Westminster, Richmond, Tom could be in any of them! (Call in to
                    ask is best way to find him)
                </div>
                <div class="question">How do I book an event?</div>
                <div class="answer">
                    You can book an event by calling the location of the "Hunt of Airsoft" or <a href="project.php?page=contact">
                    click here</a> to send an request.
                </div>
                <div class="question">What are events?</div>
                <div class="answer">
                    Events are airsoft modes that are held on each season. Some are availalbe year round and some area
                    limited for only 2 weeks. <a href="project.php?page=event">Click here</a> for more info.
                </div>
                <div class="question">Are the events dangerous? Can my child play?</div>
                <div class="answer">
                    You must be at least 16 years old to play in any of the modes and wear full equipments provided
                    before checking with the game moderator as they'll fully inspect you before the game. All the modes
                    are very safe for kids even during falling.
                </div>
            </div>
        </div>

        {% include 'footer.twig.html' %}
    </main>
</body>
</html>
