<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet/less" type="text/css" media="screen" href="style.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.7.1/less.min.js"></script>
    <title>Hunt of Airsoft</title>
</head>

<body>
    <main>
        {% include 'top_links.twig.html' %}
        {% include 'slider.twig.html' %}

        <div id="wrapper">
            <div class="intro">
                <img src="images/newest_mission.jpg" alt="Image of the newest mission" width="600" height="950">



                <div class="paragraph">
                    <div class="short_note">
                        &nbsp;&nbsp;<div class="welcome">WELCOME</div>
                        <div class="ongoing">TO TOM CRUISE THEME AIRSOFT GUN SITE.</div><br>
                        &nbsp;&nbsp;Whether you've been a weekend warrior for two decades, or two hours,
                        you'll have a blast on our incredible field! With a mix of urban terrain,
                        deep underbrush and fortified hills, there's something for every kind of play style.<br><br>
                        <div class="ongoing">Below are the current ongoing event!</div>
                    </div>
                    <div class="title">OPERATION MORRIS DANCE (New) Jan 2019*</div>
                    <p>&nbsp;&nbsp;Each of the two teams have a flag in their base which are located on opposite sides of the game zone.
                        The aim of the game is to capture the enemy’s flag from their base and deliver it back to your base
                        before they capture your flag. Capture the flag can be played in almost every Delta Force game zone.</p>
                    <div class="title">NUCLEAR TESTING (Ongoing) Oct-Dec</div>
                    <p>&nbsp;&nbsp;A neutral bomb or similar object is placed in the centre of the game zone,
                        usually in a building. The objective is to take the bomb or object from the centre
                        of the game zone and into the enemy’s base. Bomb the Base is usually played in The Zombies’
                        Crypt or Tomb Raider game zones.</p>
                </div>
            </div>
        </div>

        {% include 'footer.twig.html' %}
    </main>
</body>
</html>
