<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet/less" type="text/css" media="screen" href="style.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.7.1/less.min.js"></script>
    <title>Hunt of Airsoft</title>
</head>

<body>
    <main>
        {% include 'top_links.twig.html' %}

        <div id="wrapper">
            <h1>THANK YOU FOR SENDING THE MESSAGE</h1>
        </div>

        {% include 'footer.twig.html' %}
    </main>
</body>
</html>
