<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet/less" type="text/css" media="screen" href="style.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.7.1/less.min.js"></script>
    <title>Hunt of Airsoft</title>
</head>

<body>
    <main>
        {% include 'top_links.twig.html' %}

        <div id="wrapper">
            <div class="rules">
                <h1>THE RULES</h1>
                <h4>This rule was adapted from Camp R & R Air Soft Rules</h4>

                <div>1. Always wear eye protection in the form of goggles, masks, shooting glasses, mesh goggles, or safety glasses.
                    Never remove your eye protection while on the battlefield. Regular prescription glasses are NOT acceptable as safety eye-wear. Must meet ANSI Z87.1 standards and wrap around the face.</div>
                <div>2. The “Game Moderator” is the final approval for all field decisions, the calling of games, resolutions on all conflicts and issues,
                    and responsible for all safety related items and events that occur on the field. If a conflict or discrepancy arises that cannot be solved between groups,
                    the game is stopped and the game moderator makes the final decision regarding the conflict or discrepancy. Arguing with the game moderator will result in an immediate ejection from that day’s game event.</div>
                <div>3. The “Safe Zone” is the area on the playing field where no weapons will be fired at any time. Failure or noncompliance of this will result in an immediate ejection from that day’s game event.</div>
                <div>4. Sealed ballistic eye protection will be worn at all times for both players and visitors to the area. Only in the “Safe Zone” when no game play is present can this eyewear be removed at any time.</div>
                <div>5. A 10 Foot safety kill range will be observed for all weapons, or whenever you feel there is a safety issue with taking the shot. This will be obtained by pulling out a sidearm or pointing your current weapon at a target and shouting “Safety Kill”  A safety kill cannot be called on multiple people at once.  You must always honor a safety kill and return to your re-spawn.  Anyone found to be abusing the safety kill rule will be asked to leave the field. Remember you are ultimately responsible for anyone or anything injured by your projectiles.</div>
                <div>6. The definition of being “Hit” is when the airsoft BB Hits any part of the players clothing, body. Once a player is “Hit”, He or she will raise their weapon over their head and shout hit. After the fact is established, and the opposing player knows the situation the player will walk out of the battle area and return to the re-spawn zone with their weapon over their head.</div>
                <div>7. All integrity violations and non calling of “hits” will be dealt with swiftly and severely. Failure to or noncompliance with calling hits will result in an immediate ejection from that day’s game event.</div>
                <div>8. The term “Blind man” will be used for any real world injury. Once “Blind man” is heard all players will holster all weapons, put them on safe and remain in place unless directed by the game moderator.</div>
                <div>9. When using the “Medic” Rule a player that sustains a hit will fall or sit in place and yell “hit”. Then the player will put a red rag on his head. In order for the player to be given first aid and resume fighting, another player must go to the person wounded, take the red rag off his head and tie one square knot onto the rag. Other wounded players can NOT medic other wounded players. Also players can only be given first aid one time. After that the player is considered KIA and will return back to the safe area.</div>
                <div>10. All borders and boundaries set down by the game moderator will be followed. Violations of this will result in the player becoming KIA and being sent back to the safe zone.</div>
                <div>11. All airsoft weapons will be checked by “game moderators” and checked by chronograph prior to every game.</div>
                <div>12. When transporting airsoft weapons to and from the playing field, all weapons will be cased in either a gun case, or the original factory box.</div>
                <div>13. PHYSICAL CONTACT<br>Absolutely no physical contact at any point between players or moderators is permitted.  Anyone found to be breaking this rule will be immediately asked to leave the field and banned until further notice from all events.</div>
                <div>14. SNIPER AND DMR SAFETY</div>
                <div>14a. Anyone acting as a sniper with an upgraded bolt action rifle over 400 fps (1.5j) must carry a sidearm that can be used alternately when engaging targets closer than  50 feet. If you have no sidearm and find yourself too close to the opposing force, you may either a) wait until they move to a safe range or b) relocate to a safe range. Do not fire at targets closer than 50 feet. Do not fire a people’s faces.</div>
                <div>14b. Anyone acting as a DMR with an upgraded semi auto rifle over 400 fps (1.5j) must  carry a sidearm that can be used alternately when engaging targets closer than 50 feet. If you have no sidearm and find yourself too close to the opposing force, you may either a)  wait until they move to a safe range or b) relocate to a safe range. Do not fire at targets closer than 50 feet. No fully auto weapon is allowed. Do not fire a people’s faces. No polar star engines are allowed in DMR class.</div>
                <div>15. BLIND FIRING<br>Blind Firing is never permitted.  All violations of blind firing distances will result in immediate expelled from the field.</div>
                <div>16. IF LOCAL POLICE ENTER THE FIELD<br>This is a potentially dangerous situation, and is treated as if they don’t know we are playing a game. All players are expected to walk to the “Safe Zone” in plain sight, either with their guns over their head or leaving their guns in the field. Upon reaching the “Safe Zone” each player is to place his replica with his gear and gather in a group at least 20 feet from the gear. This is to provide safety by comforting the officers by removing any equipment that appears threatening to them. Game play is not commenced until we explain the situation and are allowed to continue.</div>
                <div>17. Illegal drugs and alcohol are not permitted at any time.</div>
                <div>18. No real firearms or other weapons are allowed at any time.</div>
                <div>19. Smoking is ONLY PERMITTED in designated smoking areas.</div>
                <div>20. Bio Ammo only, all ammo will be checked and stamped on check in, no bio users will be removed from field.</div>
                <div>21. All weapons will go off of set guidelines for pellet weight and feet per second. The rules for this are the following.</div>
            </div>

            <div class="limits">
                <div>
                    <div class="title">AEG – 1.49J</div>
                    <div>bb mass____FPS</div>
                    <div>0.12g_______517</div>
                    <div>0.20g_______400</div>
                    <div>0.23g_______373</div>
                    <div>0.25g_______358</div>
                    <div>0.29g_______332</div>
                    <div>0.30g_______327</div>
                    <div>0.34g_______307</div>
                    <div>0.36g_______298</div>
                    <div>0.43g_______273</div>
                </div>

                <div>
                    <div>BOLT-ACTION – 2.81J</div>
                    <div>bb mass____FPS</div>
                    <div>0.12g_______710</div>
                    <div>0.20g_______550</div>
                    <div>0.23g_______513</div>
                    <div>0.25g_______492</div>
                    <div>0.29g_______457</div>
                    <div>0.30g_______449</div>
                    <div>0.34g_______422</div>
                    <div>0.36g_______410</div>
                    <div>0.43g_______375</div>
                </div>

                <div>
                    <div>DMR</div>
                    <div>bb mass____FPS</div>
                    <div>0.20g_______475</div>
                </div>
            </div>

        </div>

        {% include 'footer.twig.html' %}
    </main>
</body>
</html>
