<div class="slider">
    <figure>
        <div class="slide">
            <img src="images/slideshow_1.jpg" style="max-width:100%;height:auto;">
        </div>
        <div class="slide">
            <img src="images/slideshow_2.jpg" style="max-width:100%;height:auto;">
        </div>
        <div class="slide">
            <img src="images/slideshow_3.jpg" style="max-width:100%;height:auto;">
        </div>
        <div class="slide">
            <img src="images/slideshow_4.jpg" style="max-width:100%;height:auto;">
        </div>
        <div class="slide">
            <img src="images/slideshow_5.jpg" style="max-width:100%;height:auto;">
        </div>
    </figure>
</div>
