<div class="top_links">
    <header>{{title | e}}</header>
    <div class="links">
        <a href="project.php?page=project">HOME</a>
        <a href="project.php?page=event">EVENT</a>
        <a href="project.php?page=rules">RULE</a>
        <a href="project.php?page=airsoft">AIRSOFT</a>
        <a href="project.php?page=faq">FAQ</a>
        <a href="project.php?page=contact">CONTACT</a>
    </div>
    <div class="empty"></div>
</div>
