html { overflow-y:scroll;		/*avoid page shift*/ }

/*ALL HTML*/
body {
	margin-left: auto; /*shifts content according to browser width*/
	margin-right: auto;
	padding: 0;		/*removes default padding*/
	width: 1080px; /*fixed width*/
	font-family: Times, sans-serif, Arial, monospace;
}

header{
	margin: 10px 50px 10px 50px;
	text-align: center;
	border-bottom: 2px solid;
	display: flex;
	justify-content: space-between;
}

img {
	border: 1px solid;
	margin-bottom: 0.8em;
	image-orientation: from-image;
}

#header {
	font-size: 320%;
	font-weight: bold;
	margin: 3.1em 1.9em 0 0;
}

#headerInfo {
	font-size: 110%;
	margin: 8.6em 0 0 0;
}

/*90% body*/
#wrapper {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.title {
	font-size: 120%;
	text-align: center;
	border-width: 1px;
	border-bottom-style: solid;
	background-color: #E0E0E0;
}

#references {
	display: flex;
	justify-content: space-between;
	width: 80%;
}

ul.refStyle {
	list-style-type: none;
}

#awards {
	border-bottom: 2px solid;
	margin-bottom: 5em;
}

p {
	/*font-family: Arial;*/
	font-size: 100%;
	margin: 0.5em;
}

i {
	font-size: 80%;
}
