@linksBackground: black;
@linksTextColor: #FFF;
@linksTextShadow: red;
@linksTextHover: pink;
@headerColor: #FFF;

@mainBackground: #D8D7D3;
@paragraphTextColor: #FFF;
@welcomeColor: #CCCCFF;
@shortNoteColor: #CCE5FF;
@locationColor: #CCFFFF;
@borderLineColor: #C0C0C0;

@rulesBackground: #404040;
@loadoutShadowHover: #00CCCC;
@airsoftLoadoutHoverColor: #009999;
@airsoftNotesColor: yellow;
@airsoftBackgroundColor: #404040;
@airsoftBorderColor: #009999;

@textColor: #FFCC66;
@answerTextColor: #CCFFCC;
@weaponBackground: #FFF;
@FAQlinkColor: white;

@footerBackground: black;
@footerColor: white;

.textShadow(@textShadow) {
	text-shadow: 1px 3px 4px @textShadow;
}

.borderLines {
	border-top: 2px solid @borderLineColor;
	border-bottom: 2px solid @borderLineColor;
}

html { overflow-y:scroll;		/*avoid page shift*/ }

body {
	margin: 0;	/*removes default margin*/
	padding: 0;		/*removes default padding*/
	background-image: url(images/background.jpg);
	background-color: @mainBackground; /*background color (in case background-image above doesn't work)*/
	font-family: monospace, Times, Arial, sans-serif;
}



.top_links{
	background-color: @linksBackground;
	display: flex;
	justify-content: space-between;
	padding: 1em 10px 1em 10px;

	>header {
		color: @headerColor;
		margin-left: 3em;	//pushes header a little more to the right
		font-size: 120%;
		font-weight: bold;
		opacity: 0.7;
	}

	>.links {
		margin: 0;
		padding: 0;
		>a {
			color: @linksTextColor;
			margin-left: -10px;	//make links close to each other
			padding: 1em 1em 1em 1em;	//increase link's clickable size
			font-size: 100%;
			text-decoration: none; //removes link underline
			.textShadow(@linksTextShadow);
			&:hover {
				background-color: @linksTextHover;
			}
		}

	}
	border-bottom: 1px solid gray;
}

/*90% body*/
#wrapper {
	padding: 0;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.slider {
	overflow: hidden; //hides all other slider images

	> figure {
		> div {
			width: 20%;
			float: left;
		}
		> img {
			width: 100%;
			float: left;
		}
		position: relative;
		width: 500%; //5 images
		margin: 0;
		left: 0;
		animation: 40s slide infinite;
	}
}

@keyframes slide {
	0%, 10% {
		left: 0;
	}
	12%, 22% {
		left: -100%;
	}
	24%, 34% {
		left: -200%;
	}
	36%, 46% {
		left: -300%;
	}
	48%, 58% {
		left: -400%;
	}
	60%, 70% {
		left: -300%;
	}
	72%, 82% {
		left: -200%;
	}
	84%, 94% {
		left: -100%;
	}
	96% {
		left: 0%;
	}
}

.intro {
	margin: 1em;
	display: flex;
	> img {
		opacity: 0.8;
	}
}


//Home and Event Page
.paragraph {
	margin-left: 2em;
	margin-right: 2em;

	>.short_note {
		>.welcome {
			font-size: 220%;
			color: @welcomeColor;
			text-align: center;
		}
		>.ongoing {
			color: @welcomeColor;
			text-align: center;
		}
		text-align: center;
		font-weight: bold;
		margin-bottom: 1em;
		font-family: Georgia;
		font-size: 200%;
		color: @shortNoteColor;
		.textShadow(black);
	}
	>.title {
		margin-top: 1em;
		font-size: 150%;
		font-weight: bold;
		text-align: center;
		background-color: @mainBackground;
		border-radius: 10px;
	}
	> p {
		font-size: 135%;
		color: @textColor;
		//padding: 1em;
		.textShadow(black);
		width: 75%;
		margin-left: auto;
		margin-right: auto;
	}
	>.location_info {
		padding: 1em;
		color: @locationColor;
		font-size: 160%;
		//font-weight: bold;
		text-align: center;
		.textShadow(black);
		> a {
			text-decoration: none;
			font-style: italic;
			color: @linksTextColor;
			font-size: 120%;
			.textShadow(blue);

			&:hover {
				.textShadow(yellow);
			}
		}
	}
}



//Rules Page
h1, h4 {
	color: yellow;
	.textShadow(@linksTextShadow);
}

.rules {
	margin-bottom: 40px;
	padding: 1em 3em 3em 3em;
	color: @paragraphTextColor;
	background-color: @rulesBackground;
	border-radius: 25px;

	> div {
		padding-top: 1em;
	}
}

.limits {
	margin-bottom: 40px;
	padding: 1em;
	display: flex;
	justify-content: space-around;
	color: @paragraphTextColor;
	background-color: @rulesBackground;
	border-radius: 25px;

	> div {
		padding-top: 1em;
	}
}


//Airsoft Page
.loadout {
	padding: 5px;
	margin-top: 2em;
	display: flex;
	justify-content: space-around;
	background-color: @mainBackground;
	font-size: 130%;
	font-weight: bold;
	font-style: italic;
	border-radius: 8px;

	:hover {
		.textShadow(@loadoutShadowHover);
		background-color: @airsoftLoadoutHoverColor;
	}
}

.note {
	margin: 2em;
	color: @airsoftNotesColor;
	font-weight: bold;
	.textShadow(black);
	font-size: 100%;
}

.weapons {
	margin-bottom: 2em;
	display: flex;
	flex-wrap: wrap;

	>.gear {
		padding: 2em;

		>img { //zoom out effect
			transform: scale(0.9);
			transition: all 0.2s;
			height: 250px; //all images fixed size
  			image-rendering: pixelated;
		}
		&:hover { //zoom in effect
			>img {
				transform: scale(1.0);
				transition: all 0.2s;
			}
		}
	}
	border: 6px @airsoftBorderColor solid;
	border-radius: 40px;
	background-color: @airsoftBackgroundColor;
}


/*FAQ*/

.question {
	font-size: 150%;
	font-weight: bold;
	text-align: center;
	background-color: @mainBackground;
	border-radius: 10px;

}

.answer {
	font-size: 135%;
	color: @answerTextColor;
	padding: 1em;
	.textShadow(black);
	width: 75%;
	margin-left: auto;
	margin-right: auto;

	>a {
		color: @FAQlinkColor;
	}
}


/*Contact*/
.contact{
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: auto;

	label {
		color: @textColor;
		.textShadow(black);
		font-size: 120%;
		text-align: center;
		padding: 12px 0 0 0;
	}

	label:nth-child(1) {
		.gridPlacement(1, 1, 2, 2);
	}
	label:nth-child(3) {
		.gridPlacement(1, 2, 2, 3);
	}
	label:nth-child(5) {
		.gridPlacement(1, 3, 2, 4);
	}
	label:nth-child(7) {
		.gridPlacement(1, 4, 2, 5);
	}

	input {
		margin: 0.4em 0 0.4em 0;
		padding: 8px;
	}
}

input[type=button] {
	margin: 2em 0 0 0;
	padding: 0.6em 2em 0.4em 2em;
	background-color: white;
	color: @textColor;
	font-weight: bold;
	cursor: pointer; //makes it hover like a button
}

.gridPlacement(@x1, @y1, @x2, @y2){
    grid-column-start: @x1;
    grid-row-start: @y1;
    grid-column-end: @x2;
    grid-row-end: @y2;
}


@media only screen and (max-width: 768px){
	.top_links{
		display: block;
		> header{
			font-size: 140%;
			padding: 0.2em;
			text-align: center;
			margin: 0; //remove normal placement
		}
		>.links {
			>a{
				font-size: 160%;
				display: block; //make each link on its own
				text-align: center;
				margin: 0; //remove normal placement
				padding: 0; //remove normal placement
			}
		}
	}

	.intro {
		display: block;
	}

	.loadout {
		display: block;
		text-align: center;
	}

}


//the footer that no one reads
footer {
	padding: 5px;
	margin: 5px;
	font-size: 80%;
	color: @footerColor;
	text-align: center;
	background-color: @footerBackground;
}
