
.wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: Comic Sans MS; //a cute font
}

.gridPlacement(@x1, @y1, @x2, @y2){
    grid-column-start: @x1;
    grid-row-start: @y1;
    grid-column-end: @x2;
    grid-row-end: @y2;
}

body {
    .wrapper;
}

.banner {
    font-size: 200%;
    font-weight: bold;
}

.page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.title {
    text-align: center;
    font-size: 200%;
}

#armyList {
    > .characterName{
        > div {
            font-style: italic;
            margin-left: 2em;
        }
        > div:hover{
            color: yellow;
        }
    }
    border: 1px solid blue;
    .gridPlacement(1, 1, 2, 3);
}

#squadList {
    font-weight: bold;


    border: 1px solid blue;
    .gridPlacement(2, 1, 3, 2);
}

#profile {
    border: 1px solid blue;
    .gridPlacement(3, 1, 3, 2);
}

#picture {
    border: 1px solid blue;
    .gridPlacement(2, 2, 4, 3);
}
