body {
    .wrapper;
}

.wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: Comic Sans MS; //a cute font
}

.title {
    text-align: center;
    font-size: 200%;
}

.messageBox {
    > form {
        > input {
            
        }
    }

}
