@backgroundColor: pink;

.wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: Comic Sans MS; //a cute font
}

.linkStyle {
    padding: 0.3em;
    border-radius: 10px;
    background-color: pink;
    > a {
        text-decoration: none;
    }
    //bubble effect
    transform: scale(1.0);
    transition: all 0.2s;
    &:hover { //zoom in effect
        transform: scale(1.2);
        transition: all 0.2s;
    }
}

body {
    .wrapper;
}

.title {
    font-size: 500%;
    text-align: center;
    text-shadow: 1px 3px 4px blue;
    background-color: @backgroundColor;
    border-radius: 10px;
    padding-bottom: 0.2em;
}

.typeLinks {
    font-size: 120%;
    display: flex;
    justify-content: space-around;

    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 3px pink solid;

    > div {
         a {color: white;
        }
    }

    > .normal {
        .linkStyle;
        background-color: brown;
    }
    > .fighting {
        .linkStyle;
        background-color: #FF0000;
    }
    > .flying {
        .linkStyle;
        background-color: #FFCC99;
    }
    > .poison {
        .linkStyle;
        background-color: purple;
    }
    > .ground {
        .linkStyle;
        background-color: #336600;
    }
    > .rock {
        .linkStyle;
        background-color: #404040;
    }
    > .bug {
        .linkStyle;
        background-color: #999900;
    }
    > .ghost {
        .linkStyle;
        background-color: #E0E0E0;
    }
    > .steel {
        .linkStyle;
        background-color: #808080;
    }
    > .fire {
        .linkStyle;
        background-color: orange;
    }
    > .water {
        .linkStyle;
        background-color: #0080FF;
    }
    > .grass {
        .linkStyle;
        background-color: green;
    }
    > .electric {
        .linkStyle;
        background-color: yellow;
    }
    > .psychic {
        .linkStyle;
        background-color: #CC00CC;
    }
    > .ice {
        .linkStyle;
        background-color: #33FFFF;
    }
    > .dragon {
        .linkStyle;
        background-color: #CC6600;
    }
    > .fairy {
        .linkStyle;
        background-color: pink;
    }
    > .dark {
        .linkStyle;
        background-color: black;
    }
}

.pokemon_list {
    display: flex;
    font-size: 200%;
    margin: 1em 0 1em 0;
    padding: 0.1em 0 0.1em 0;
    border-radius: 10px;
    background-color: @backgroundColor;

    > .national {
        padding-left: 0.2em;
        &::before {
            content: "#";
            font-weight: bold;
        }
    }

    > a {
        text-decoration: none;
        text-shadow: 1px 3px 4px blue;
        color: white;
        &:hover {
            text-shadow: 1px 3px 4px green;
        }
    }

    > .type {
        font-style: italic;
    }

    //bubble effect
    transform: scale(1.0);
    transition: all 0.2s;
    &:hover { //zoom in effect
        transform: scale(1.03);
        transition: all 0.2s;
    }
}

//second page
.detail {
    display: grid;
    font-size: 200%;
    padding-bottom: 2em;
    > div { //apply to all
        padding-left: 10px;
        border-radius: 20px;
    }

    > .national {
        text-align: center;
        border-bottom: 2px solid pink;
    }
    > .type {
        text-align: center;
        border-bottom: 4px solid pink;
    }
    > .hp {
        background-color: #FF9999;
    }
    > .atk {
        background-color: #FFCC99;
    }
    > .def{
        background-color: #FFFF99;
    }
    > .sat {
        background-color: #CCFF99;
    }
    > .sdf {
        background-color: #99FF99;
    }
    > .spd {
        background-color: #99FFCC;
    }
    > .bst {
        background-color: #99FFFF;
    }
}

.typeEffectiveness {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2em;
    margin-bottom: 200px;
    text-align: center;

    > div { //apply to all
        border-radius: 10px;
        padding: 5px 0 20px 0;
        > .typeTitle {
            font-size: 160%; //the type title
        }
        font-size: 130%; //all the type names
    }

    > .strongAgainst {
        background-color: #FF9933;
    }
    > .weakAgainst {
        background-color: #CCFF99;
    }
    > .resistantTo {
        background-color: #99CCFF;
    }
    > .vulnerableTo {
        background-color: #FFFFCC;
    }
}
