@backgroundColor: pink;
@mainTextColor: white;

a {
    text-decoration: none;
}

.wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: Comic Sans MS; //a cute font
}

.gridPlacement(@x1, @y1, @x2, @y2){
    grid-column-start: @x1;
    grid-row-start: @y1;
    grid-column-end: @x2;
    grid-row-end: @y2;
}

.bubbleEffect(@scale, @speed) {
    transform: scale(1.0);
    transition: all @speed;
    &:hover {
        transform: scale(@scale);
        transition: all @speed;
    }
}

.linkStyle {
    padding: 0.3em;
    border-radius: 10px;
    background-color: pink;
    .bubbleEffect(1.2, 0.2s);
}

.boxShadow(@h, @v, @b, @color) {
    box-shadow: @h @v @b @color;
}

.boxShadow {
    box-shadow: 5px 10px 8px #888888;
}

.BG_transparent{
    background: rgba(250, 236, 250, 0.4);
}

.typeBGColor {
    > .Normal {
        background-color: brown;
    }
    > .Fighting {
        background-color: #FF0000;
    }
    > .Flying {
        background-color: #FFCC99;
    }
    > .Poison {
        background-color: purple;
    }
    > .Ground {
        background-color: #336600;
    }
    > .Rock {
        background-color: #404040;
    }
    > .Bug {
        background-color: #999900;
    }
    > .Ghost {
        background-color: #E0E0E0;
    }
    > .Steel {
        background-color: #808080;
    }
    > .Fire {
        background-color: orange;
    }
    > .Water {
        background-color: #0080FF;
    }
    > .Grass {
        background-color: green;
    }
    > .Electric {
        background-color: yellow;
    }
    > .Psychic {
        background-color: #CC00CC;
    }
    > .Ice {
        background-color: #33FFFF;
    }
    > .Dragon {
        background-color: #CC6600;
    }
    > .Fairy {
        background-color: pink;
    }
    > .Dark {
        background-color: black;
    }
}

.typeColor {
    > .Normal {
        color: brown;
    }
    > .Fighting {
        color: #FF0000;
    }
    > .Flying {
        color: #FFCC99;
    }
    > .Poison {
        color: purple;
    }
    > .Ground {
        color: #336600;
    }
    > .Rock {
        color: #404040;
    }
    > .Bug {
        color: #999900;
    }
    > .Ghost {
        color: #E0E0E0;
    }
    > .Steel {
        color: #808080;
    }
    > .Fire {
        color: orange;
    }
    > .Water {
        color: #0080FF;
    }
    > .Grass {
        color: green;
    }
    > .Electric {
        color: yellow;
    }
    > .Psychic {
        color: #CC00CC;
    }
    > .Ice {
        color: #33FFFF;
    }
    > .Dragon {
        color: #CC6600;
    }
    > .Fairy {
        color: pink;
    }
    > .Dark {
        color: black;
    }
}

body {
    background-image: url(BG_pinkstrips.jpg);
    background-attachment: fixed;
    .wrapper;
    > .main {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
}

//the big header on top of the page
.header {
    font-size: 500%;
    text-align: center;
    text-shadow: 1px 3px 4px black;
    color: @mainTextColor;
    border-radius: 10px;
    padding-bottom: 0.2em;
    margin-bottom: 0.3em;
    .boxShadow;
    .gridPlacement(1, 1, 3, 2);
}

//the menu right below the banner with different links to each pokemon types
.menu {
    font-size: 120%;
    text-shadow: 1px 3px 4px black;
    display: flex;
    justify-content: space-around;

    padding-top: 0.5em;
    padding-bottom: 0.5em;

    > div { //to all sub div in menu
        .linkStyle;
        .boxShadow;
        a {
            color: @mainTextColor;
            font-weight: bold;
        }
    }
    .typeBGColor;
    .gridPlacement(1, 2, 3, 3);
}

//the side bar on the left of the main page with top 10 pokemons
.sidebar {
    padding: 2em;
    text-align: center;

    > .top10Title {
        padding: 1em;
        color: @mainTextColor;
        font-size: 180%;
        text-shadow: 1px 3px 4px black;
        background-color: @backgroundColor;
        border-radius: 10px;
        .BG_transparent;
        .boxShadow;
    }

    > .card {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 80%;
        padding-top: 1em;
        padding-bottom: 1em;
        border-radius: 5px;
        > a {
            font-size: 180%;
            text-shadow: 1px 3px 4px blue;
            color: @mainTextColor;
            &:hover {
                text-shadow: 1px 3px 4px yellow;
            }
        }
        .bubbleEffect(1.03, 0.2s);
        .boxShadow;
    }
    .gridPlacement(1, 3, 2, 5);
}

//below menu and on the right side of sidebar. Card only appears after clicking the star
//from the table section
.favourite_section {
    margin: 2em;
    height: 200px;

    > .favTitle {
        padding: 10px;
        font-size: 200%;
        text-align: center;
        text-shadow: 1px 3px 4px black;
        color: @mainTextColor;
        background-color: @backgroundColor;
        border-radius: 10px;
        padding-bottom: 0.2em;
        margin-bottom: 0.3em;
        .boxShadow;
    }

    > .favContainer {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-gap: 1em;

        > .card {
            padding-top: 10px;
            display: grid;
            grid-gap: 50px;
            height: 120px;
            text-align: center;
            border-radius: 8px;

            > div { //the name of the pokemon
                > a {color: @mainTextColor;}
                text-shadow: 1px 3px 4px black;
            }

            background-color: @backgroundColor;
            .boxShadow;
        }
    }
    border-bottom: 2px solid @mainTextColor;
    .gridPlacement(2, 3, 3, 4);
}

//the table with all the pokemons
.pokemon_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(300px, auto);
    grid-gap: 1em;
    margin: 1em 0 1em 0;

    > .card {
        text-align: center;
        font-size: 100%;
        border-radius: 10px;
        padding-bottom: 0.5em;
        //background-image: linear-gradient(90deg, @backgroundColor, white);
        background-color: @backgroundColor;
        .BG_transparent;

        > .favIcon { //the star that triggers favourite and creates card
            font-size: 200%;
            > a {
                text-decoration: none;
                color: @mainTextColor;
                &:hover {
                    text-shadow: 1px 3px 4px yellow;
                }
            }
        }

        > .national {
            text-shadow: 1px 3px 4px black;
            color: @mainTextColor;
        }

        > a {
            font-size: 180%;
            text-decoration: none;
            text-shadow: 1px 3px 4px blue;
            color: @mainTextColor;
            &:hover {
                text-shadow: 1px 3px 4px yellow;
            }
        }

        > .type {
            font-style: italic;
        }
        .bubbleEffect(1.03, 0.2s);
        .boxShadow;
    }
    .gridPlacement(2, 4, 3, 5);
}

//second page. The detail page.
.detail {
    display: grid;
    font-size: 200%;
    padding-bottom: 2em;
    > div { //apply to all sub div
        padding: 5px 10px 5px 10px;
        margin: 5px 0 5px 0;
        border-radius: 20px;
        text-shadow: 2px 2px 2px black; //makes the word pops out
        .boxShadow;
    }

    > .national {
        text-align: center;
        background-color: pink;
        color: @mainTextColor;
        font-size: 200%;
    }
    > .type {
        text-align: center;
        background-color: @backgroundColor;
        color: @mainTextColor;
        font-size: 200%;
    }

    //each section below has their own specific font color
    > .hp {
        background-image: linear-gradient(90deg, #FF9999, @mainTextColor);
        color: #FF9999;
    }
    > .atk {
        background-image: linear-gradient(90deg, #FFCC99, @mainTextColor);
        color: #FFCC99;
    }
    > .def{
        background-image: linear-gradient(90deg, #FFFF99, @mainTextColor);
        color: #FFFF99;
    }
    > .sat {
        background-image: linear-gradient(90deg, #CCFF99, @mainTextColor);
        color: #CCFF99;
    }
    > .sdf {
        background-image: linear-gradient(90deg, #99FF99, @mainTextColor);
        color: #99FF99;
    }
    > .spd {
        background-image: linear-gradient(90deg, #99FFCC, @mainTextColor);
        color: #99FFCC;
    }
    > .bst {
        background-image: linear-gradient(90deg, #99FFFF, @mainTextColor);
        color: #99FFFF;
    }
}

//second page. The type effective section right below detail
.typeEffectiveness {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em;
    margin-bottom: 200px;
    text-align: center;

    > div { //apply to all sub div
        border-radius: 10px;
        padding: 5px 0 20px 0;

        > div{
            font-size: 200%;
            color: @mainTextColor;
            text-shadow: 1px 3px 4px black;
        }
        > .counterTitle {
            padding: 5px 0 5px 0;
            margin: 0 50px 0 50px;
            font-size: 180%; //the type title
            font-style: normal;
            border-radius: 10px;
            border-bottom: 3px solid @mainTextColor;
            color: @mainTextColor;
            text-shadow: 1px 3px 4px #190033;
        }
        > .counterType {
            font-size: 120%;
        }
        font-style: italic; //all effective types
        font-size: 110%; //all the type names
        .typeColor;
        .boxShadow;
    }

    > .strongAgainst {
        background-color: #FF9933;
    }
    > .weakAgainst {
        background-color: #00FF80;
    }
    > .resistantTo {
        background-color: #99CCFF;
    }
    > .vulnerableTo {
        background-color: #00FFFF;
    }
}
