<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet/less" type="text/css" media="screen" href="styles.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js" ></script>
    <title>Detail Twig</title>
</head>
<body>
    <div class="header">{{pokemon_info.Name}}</div>
    <div class=detail>
    <div class=national>National #{{pokemon_info.National}}</div>
    <div class=type>Type: {{pokemon_info.Type}}</div>
    <div class=hp>HP: {{pokemon_info.HP}}</div>
    <div class=atk>Attack: {{pokemon_info.Atk}}</div>
    <div class=def>Defense: {{pokemon_info.Def}}</div>
    <div class=sat>Special Attack: {{pokemon_info.SAt}}</div>
    <div class=sdf>Special Defense: {{pokemon_info.SDf}}</div>
    <div class=spd>Speed: {{pokemon_info.Spd}}</div>
    <div class=bst>Base Stats Total: {{pokemon_info.BST}}</div>
    </div>

    {% set types = pokemon_info.Type|split(' ') %}

    <div class="typeEffectiveness">
        <div class="strongAgainst">
            {% for i in types %}
            <div class={{i}}>{{i}}</div>
            <div class="counterTitle">Strong Against</div>
                {% for data in strongAgainst %}
                <div class="counterType">{{attribute(data, i)}}</div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="weakAgainst">
            {% for i in types %}
            <div class={{i}}>{{i}}</div>
            <div class="counterTitle">Weak Against</div>
                {% for data in weakAgainst %}
                <div class="counterType">{{attribute(data, i)}}</div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="resistantTo">
            {% for i in types %}
            <div class={{i}}>{{i}}</div>
            <div class="counterTitle">Resistant To</div>
                {% for data in resistantTo %}
                <div class="counterType">{{attribute(data, i)}}</div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="vulnerableTo">
            {% for i in types %}
            <div class={{i}}>{{i}}</div>
            <div class="counterTitle">Vulnerable To</div>
                {% for data in vulnerableTo %}
                <div class="counterType">{{attribute(data, i)}}</div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</body>
</html>
