<div class="favourite_section">
    <div class="favTitle">Favourite</div>

    <div class="favContainer">
        {% for favourite in session %}
        <div class="card">
            <a href=Pokedex.php?remove={{favourite}}>x</a>
            <div>
                <a href="page2.php?pokemon={{favourite | url_encode}}">{{favourite}}</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
