<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet/less" type="text/css" media="screen" href="styles.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js" ></script>
    <title>Header Twig</title>
</head>
<body>
    <div class="main">
    {% include 'header.html' with {'header': 'Choose a pokemon!'} %}
    {% include 'menu.html' %}
    {% include 'sidebar.html' %}
    {% include 'favourite.html' %}
    {% include 'table.html' %}
    </div>
</body>
</html>
