<div class=sidebar>
    <div class="top10Title">Top 10 Most Popular Pokemons</div>
    {% for pokemon in top10 %}
    <div class="card">
        <a href="page2.php?pokemon={{pokemon["Name"] | url_encode}}">{{pokemon["num"]}}.{{pokemon["Name"]}}</a>
    </div>
    {% endfor %}
</div>
