<div class="pokemon_list">
    {% for pokemon in pokemon_list %}
    <div class="card">
        <div class="favIcon">
            <a href=Pokedex.php?favourite={{pokemon["Name"]}}>★</a>
        </div>
        
        <div class="national">{{pokemon["National"]}}&nbsp</div>
        <a href="page2.php?pokemon={{pokemon["Name"] | url_encode}}">{{pokemon["Name"]}}</a>
        <div class="type">{{pokemon["Type"]}}</div>
    </div>
    {% endfor %}
</div>
