body {
    font-family: monospace;
}

.title {
    background-color: purple; 
    font-family: sans-serif;
    font-size: 350%;
    text-align: center;
    background-image: linear-gradient(90deg, #660066, #FF66FF);
}

.menu {
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
    width: 75%;
    font-size: 140%;
    margin: auto;
    padding: 0 2em 0 2em;
    color: white;
    background-color: #440044;
}

.menu > .item:nth-child(1) {
    background-color: #660066;
}

.menu > .item:nth-child(2) {
    background-color: #990099;
}

.menu > .item:nth-child(3) {
    background-color: #FF00FF;
}

.menu > .item:nth-child(4) {
    background-color: #660066;
}

.menu > .item:nth-child(5) {
    background-color: #990099;
}

.menu > .item:nth-child(6) {
    background-color: #FF00FF;
}

.menu > .item:nth-child(7) {
    background-color: #660066;
}

.menu > .item:hover {
    background-color: #FFCCFF;
}

.container {
    background-color: #660066;
    border-radius: 35px 0 0 35px;
    display: grid;
    grid-template-columns: 18em 2fr; /*width of subItem and bar*/
}

.bargraph {
    display: grid;
    grid-template-columns: repeat(4, 5em);
    grid-template-rows: repeat(6, 3em);
    grid-column-gap: 5em;
    margin: 3em 0 0 10em; /*This here causes fixed browser size*/

    /*position in (x, y)*/
    grid-column-start: 2;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 1;
}

.bargraph > .bar1 {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: 1;
    grid-row-end: 7;
    background-color: green;
}

.bargraph > .bar2 {
    grid-column-start: 2;
    grid-row-start: 3;
    grid-column-end: 2;
    grid-row-end: 7;
    background-color: green;
}

.bargraph > .bar3 {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-column-end: 3;
    grid-row-end: 7;
    background-color: green;
}

.bargraph > .bar4 {
    grid-column-start: 4;
    grid-row-start: 4;
    grid-column-end: 4;
    grid-row-end: 7;
    background-color: green;
}

.sidebar {
    font-size: 140%;
    padding: 2em;
    /*position in (x, y)*/
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 1;
    grid-row-end: 1;
}

.sidebar > .item:nth-child(1) > .subItem {
    display: none;
}

.sidebar > .item:nth-child(2) > .subItem {
    display: none;
}

.sidebar > .item:nth-child(3) > .subItem {
    display: none;
}

.item:nth-child(1):hover > .subItem:nth-child(-n+3) {
    display: block;
    padding-left: 1em;
    font-weight: bold;
}

.item:nth-child(2):hover > .subItem:nth-child(-n+3) {
    display: block;
    padding-left: 1em;
    font-weight: bold;
}

.item:nth-child(3):hover > .subItem:nth-child(-n+3){
    display: block;
    padding-left: 1em;
    font-weight: bold;
}

.sidebar > .item:hover {
    font-weight: bold;
}

.item > .subItem:hover {
    color: red;
}

h2 {
    font-size: 230%;
    width: 100%; /*forces h2 to be on its own*/
}

.flexbottom {
    background-color: #FF00FF;
    display: flex;
    flex-wrap: wrap;
    /*position in (x, y)*/
    grid-column-start: 2;
    grid-row-start: 2;
    grid-column-end: 2;
    grid-row-end: 2;
}

.flexbottom > .mon:nth-child(2) {
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 0 4em 0 0; /*size of each boxes*/
    margin: 0.1em; /*how wide each boxes are*/
    font-size: 160%;
    background-image: linear-gradient(90deg, #990099, #440044);
}

.flexbottom > .mon:nth-child(3) {
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 0 4em 0 0; /*size of each boxes*/
    margin: 0.1em; /*how wide each boxes are*/
    font-size: 160%;
    background-image: linear-gradient(90deg, #440044, #990099);
}

.flexbottom > .mon:nth-child(4) {
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 0 4em 0 0; /*size of each boxes*/
    margin: 0.1em; /*how wide each boxes are*/
    font-size: 160%;
    background-image: linear-gradient(90deg, #990099, #440044);
}

.flexbottom > .mon:nth-child(5) {
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 0 4em 0 0; /*size of each boxes*/
    margin: 0.1em; /*how wide each boxes are*/
    font-size: 160%;
    background-image: linear-gradient(90deg, #440044, #990099);
}

.flexbottom > .mon:nth-child(6) {
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 0 4em 0 0; /*size of each boxes*/
    margin: 0.1em; /*how wide each boxes are*/
    font-size: 160%;
    background-image: linear-gradient(90deg, #990099, #440044);
}

.flexbottom > .mon:nth-child(7) {
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 0 4em 0 0; /*size of each boxes*/
    margin: 0.1em; /*how wide each boxes are*/
    font-size: 160%;
    background-image: linear-gradient(90deg, #440044, #990099);
}

.flexbottom > .mon:nth-child(8) {
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 0 4em 0 0; /*size of each boxes*/
    margin: 0.1em; /*how wide each boxes are*/
    font-size: 160%;
    background-image: linear-gradient(90deg, #990099, #440044);
}

.flexbottom > .mon:nth-child(9) {
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 0 4em 0 0; /*size of each boxes*/
    margin: 0.1em; /*how wide each boxes are*/
    font-size: 160%;
    background-image: linear-gradient(90deg, #440044, #990099);
}

.flexbottom > .mon:nth-child(10) {
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 0 4em 0 0; /*size of each boxes*/
    margin: 0.1em; /*how wide each boxes are*/
    font-size: 160%;
    background-image: linear-gradient(90deg, #990099, #440044);
}

.flexbottom > .mon:nth-child(11) {
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 0 4em 0 0; /*size of each boxes*/
    margin: 0.1em; /*how wide each boxes are*/
    font-size: 160%;
    background-image: linear-gradient(90deg, #440044, #990099);
}

@media only screen and (max-width: 814px){
    .title {font-size: 220%;}
    .menu {
        display: inline;
        border-radius: none;
        padding: 0;
    }
    .sidebar {display: none;}
    .container {
        background-color: #660066;
        border-radius: 0;
        display: block;
    }

    .bargraph {
        display: grid;
        grid-template-rows: repeat(4, 1em);
        grid-row-gap: 1em;
        margin: 0;
    }

    .bargraph > .bar1 {
        grid-column-start: 1;
        grid-row-start: 1;
        grid-column-end: 4;
        grid-row-end: 1;
        background-color: red;
    }

    .bargraph > .bar2 {
        grid-column-start: 1;
        grid-row-start: 2;
        grid-column-end: 3;
        grid-row-end: 2;
        background-color: red;
    }

    .bargraph > .bar3 {
        grid-column-start: 1;
        grid-row-start: 3;
        grid-column-end: 5;
        grid-row-end: 3;
        background-color: red;
    }

    .bargraph > .bar4 {
        grid-column-start: 1;
        grid-row-start: 4;
        grid-column-end: 2;
        grid-row-end: 4;
        background-color: red;
    }


    .flexbottom > .mon:nth-child(n) {
        color: #00FFFF;
        width: 100%;
        background: #157FCC;
        background-image: radial-gradient(#990099, #440044);
    }
}
