@mainBackground: #660066; //main background colour Dark Purple
@supBackground: #FF66FF; //supporting background colour Light/pink purple
@linksBackground: #440044; //links background color very dark purple
@linksHoverColor: #FFCCFF;

.XYcoordinate(@x, @y) { //the placement for the general layout
    grid-column-start: @x;
    grid-row-start: @y;
    grid-column-end: @x;
    grid-row-end: @y;
}

.barCoordinate(@x1, @y1, @x2, @y2, @barColor) {
    grid-column-start: @x1;
    grid-row-start: @y1;
    grid-column-end: @x2;
    grid-row-end: @y2;
    background-color: @barColor;
}

//item color set
@itemColorOne: #660066;
@itemColorTwo: #990099;
@itemColorThree: #FF00FF;

//bar color set
@wideBarColor: green;
@narrowBarColor: red;

//gradient color set
@moreBoxesBackground: #FF00FF;
@moreBoxesGradientOne: #440044;
@moreBoxesGradientTwo : #990099;

//narrow media
@narrowTextColor: #00FFFF;
@narrowNameColor: blue;


body {
    font-family: monospace;
}

.title {
    font-family: sans-serif;
    font-size: 350%;
    text-align: center;
    background-image: linear-gradient(90deg, @mainBackground, @supBackground);
}

.menu {
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
    width: 75%;
    font-size: 140%;
    margin: auto;            
    padding: 0 2em 0 2em;    //required or round sides
    color: white;
    background-color: @linksBackground;

    > .item:nth-child(3n+1) {
        background-color: @itemColorOne;
    }
    > .item:nth-child(3n+2) {
        background-color: @itemColorTwo;
    }
    > .item:nth-child(3n+3) {
        background-color: @itemColorThree;
    }
    > .item:hover {
        background-color: @linksHoverColor;
    }
}

.container {
    background-color: @mainBackground;
    border-radius: 35px 0 0 35px; //top/bottom left round corners
    display: grid;
    grid-template-columns: 18em 2fr; //width of subItem and bargraph
}

.bargraph {
    display: grid;
    grid-template-columns: repeat(4, 5em); //4 columns each with 5em size
    grid-template-rows: repeat(6, 3em);
    grid-column-gap: 5em;
    margin: 3em 0 0 10em; //This here fixes browser size before going under 814px

    .XYcoordinate(2, 1);

    > .bar1 {
        .barCoordinate(1, 2, 1, 7, @wideBarColor);
    }
    > .bar2 {
        .barCoordinate(2, 3, 2, 7, @wideBarColor);
    }
    > .bar3 {
        .barCoordinate(3, 1, 4, 7, @wideBarColor);
    }
    > .bar4 {
        .barCoordinate(4, 4, 4, 7, @wideBarColor);
    }
}

.sidebar {
    font-size: 140%;
    padding: 2em;
    .XYcoordinate(1, 1);

    .item {
        &:nth-child(n) > .subItem { //hides all subItems
            display: none;
        }
        &:hover {    //display subItems when hovered
            font-weight: bold;
            > .subItem:nth-child(n) {
                display: block;
                padding-left: 1em;
                font-weight: bold;
            }
        }
        > .subItem:hover { //makes hovered text red
            color: red;
        }
    }
}

.flexbottom {
    > h2 {
        font-size: 230%;
        width: 100%; /*forces h2 to be on its own*/
    }
    background-color: @moreBoxesBackground;
    display: flex;
    flex-wrap: wrap;
    .XYcoordinate(2, 2);

    > .mon {
        > div:first-child {       //makes the name bold in "more boxes"
            font-weight: bold;
        }
        border: 1px solid #000000;
        border-radius: 15px;
        padding: 0 4em 0 0; /*size of each boxes*/
        margin: 0.1em; /*how wide each boxes are*/
        font-size: 160%;
    }
    > .mon:nth-child(even) {
        background-image: linear-gradient(90deg, @moreBoxesGradientTwo, @moreBoxesGradientOne);
    }
    > .mon:nth-child(odd) {
        background-image: linear-gradient(90deg, @moreBoxesGradientOne, @moreBoxesGradientTwo);
    }
}

@media only screen and (max-width: 814px){
    .title {font-size: 220%;}
    .menu {
        display: inline;    //changes menu items to vertical
        border-radius: none; //removes round edges
        padding: 0;        //removes round edges
    }
    .sidebar {display: none;} //removes sidebar
    .container {
        border-radius: 0;
        display: block; //block by block
    }

    .bargraph {
        display: grid;
        grid-template-columns: repeat(10, 2em); //4 columns each with 5em size
        grid-template-rows: repeat(4, 1em);
        grid-column-gap: 2em;
        grid-row-gap: 1em;
        margin: 0;
        padding: 4em 0 4em 0;

        > .bar1 {
            .barCoordinate(1, 1, 8, 1, @narrowBarColor);
        }
        > .bar2 {
            .barCoordinate(1, 2, 6, 2, @narrowBarColor);
        }
        > .bar3 {
            .barCoordinate(1, 3, 10, 3, @narrowBarColor);
        }
        > .bar4 {
            .barCoordinate(1, 4, 4, 4, @narrowBarColor);
        }
    }

    .flexbottom > .mon:nth-child(n) {
        color: @narrowTextColor;
        > div:first-child {
            color: @narrowNameColor;
        }
        width: 100%; //forces new line
        background-image: radial-gradient(@moreBoxesGradientTwo, @moreBoxesGradientOne);
    }
}
